<configuration>
  <system.runtime.remoting>
    <application>
      <client>
          type="Server.RemoteObjectTCP, Server"
          url="tcp://localhost:8080/TCPChannel"
      </client>
    </application>
    <channels>
      <channel
        id="tcp"
        type="System.Runtime.Remoting.Channels.Tcp.TcpChannel, System.Runtime.Remoting"
      />
      <channel
        id="http"
        type="System.Runtime.Remoting.Channels.Http.HttpChannel, System.Runtime.Remoting"
      />
    </channels>
  </system.runtime.remoting>
</configuration>
